/* FONTS
**************************************************/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200italic,400italic);

/* Bootsrap 3.0  icons */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/* Sticky footer styles
-------------------------------------------------- */
html { position: relative; min-height: 100%; }
body { margin-bottom: 60px; font-size: 16px; }
footer { position: absolute; bottom: 0; width: 100%; height: 60px; }

/* HTML ELEMENTS
**************************************************/
body { color: #333; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; font-style: normal; background-color: white; }
h1, h2, h3, h4, h5, h6 { font-family: 'Source Sans Pro', sans-serif; font-weight: 400; font-style: normal; }
a, a:hover { color: #333; text-decoration: none; }
/*header { height: 60px; }*/

.form-control,
.form-control { color: black; border: 3px solid #000; border-radius: 0; font-size: 16px; }
.input label { font-size: 18px; text-transform: uppercase; }

.logo{
	width: 250px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.btn-fayabash:hover,
.btn-fayabash { margin-top: 30px; color: white; text-transform: uppercase; background: black; font-size: 24px;  }

.alert { text-align: center; }
