<!-- growl -->
<div growl></div>

<!-- MAP -->
<section class="no-top-padding bg contact-map" >
    <div class="container">
        <iframe id="google-map-frame" width="100%" height="600" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2743.707231980446!2d6.5606287!3d46.55347800000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c3166e2786b09%3A0x3e57ce14b178d298!2sChemin+de+Cocagne+39%2C+1030+Bussigny!5e0!3m2!1sfr!2sch!4v1422004562224" ></iframe>
    </div>
</section>
<!-- Formaulaire -->
<section class="container">
    <div class="row">

        <div class="col-md-6 contact-form">
            <h3>Formulaire</h3>
            <form name="myForm" ng-submit="sendMessage()" >
                <div class="form-group">
                    <label for="exampleInputEmail1">Nom *</label>
                    <input ng-model="message.name" type="text" name="name" class="form-control" id="inputName" placeholder="Nom" required>
                    <span class="label label-danger" ng-show="myForm.name.$error.required">Veuillez Remplir le champs svp!</span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">E-mail *</label>
                    <input ng-model="message.email" type="email" name="email" class="form-control" required placeholder="Entrer votre email">
                    <span class="label label-danger" ng-show="myForm.email.$error.required">Veuillez Remplir le champs svp!</span>
                    <span class="label label-danger" ng-show="myForm.email.$error.email">Email non valide!</span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Message</label>
                    <textarea ng-model="message.message" class="form-control" rows="6" placeholder="Message"></textarea>
                </div>
                <button type="submit" ng-disabled=" message.name == 'Votre Nom Complet' || message.email == 'votre@email.com' || myForm.name.$error.required || myForm.email.$error.required || myForm.email.$error.email " class="btn btn-primary">Envoyer</button>
                <span class="reminder">* Champs obligatoires</span>
            </form>
        </div>

        <div class="col-md-6 contact-details hidden-xs">
            <h3>CLIMATEC SA</h3>
            <ul>
                <li>Chemin de Cocagne 39 - 1030 Bussigny</li>
                <li><a href="mailto:info@climatec-sa.com">info@climatec-sa.com</a></li>
                <li>Tél: <a href="tel:+41216343791" >+41 (0)21 634 37 91</a></li>
                <li>Fax +41 (0)21 634 14 38</li>
            </ul>
        </div>

    </div>
</section>