<section class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Climatec sa</h3>
            <p>
                Fondée en 1975, la maison Climatec bénéficie d’une solide expérience dans l’application de systèmes de climatisation et de ventilation destinés à des clients professionnels, tels que des architectes, ingénieurs ou industriels.
            </p>
            <p>
                Nous mettons un point d’honneur à travailler dans le respect des normes environnementales recommandées dans la construction.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="http://www.nicoll.fr/assets/images/nicoll_fr/slide_batiment.jpg" class="img-responsive" />
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Equipe</h3>
            <p>
                Notre équipe est constituée de spécialistes dont les compétences et les synergies permettent la conduite de projets complexes, de moyenne et grande envergure, tout en gardant un contact privilégié avec le mandataire.
            </p>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="img/static/crew.jpeg" alt="equipe climatec">
        </div>
    </div>
</section>

<!-- ORGANIGRAMME -->
<section class="bg bg--gray">
    <div class="container">
        <h3 class="text-center">ORGANIGRAMME</h3>
        <div class="spacer--alpha"></div>
        <div>
            <a href="img/static/climatec_organigramme_01.jpg" target="_blank">
                <img class="img-responsive" src="img/static/climatec_organigramme_01.jpg" alt="organigramme climatec" width="100%">
            </a>
        </div>
    </div>
</section>

<!-- short cuts 
<section class="bg bg--blue-light">
    <div class="container">
        voir nos Partenaires Loreum Ipsum
        <div class="float--right">
            <a class="" ui-sref="partenaires">Voir</a>
        </div>
    </div>
</section>
-->
