<section class="bg bg--gray footer-top">
    <div class="container">
        
        <div class="row">
            
            <div class="col-sm-4">
                <h4><i class="fa fa-home"></i> CLIMATEC SA</h4>
                <ul>
                    <li>Chemin de Cocagne 39 - 1030 Bussigny</li>
                    <li><a href="mailto:info@climatec-sa.com">info@climatec-sa.com</a></li>
                    <li>Tél: <a href="tel:+41216343791" >+41 (0)21 634 37 91</a></li>
                    <li>Fax +41 (0)21 634 14 38</li>
                </ul>
            </div>
            
            <div class="col-sm-8 text-center hidden-print">
                <img src="img/static/footer_brands.jpg" class="img-responsive" />
            </div>
            
        </div>
    </div>
</section>



<footer  class="bg bg--blue hidden-print">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                © All rights reserved. Design & web by <a href="http://www.3xw.ch" target="_blank" >3xW</a>
            </div>
            <div class="col-sm-8 footer-links hidden-xs hidden-sm">
                <a ui-sref="home">Accueil</a>
                <a ui-sref="entreprise">Entreprise</a>
                <a ui-sref="activities-bytype-climatisation">Climatisation</a>
                <a ui-sref="activities-bytype-ventilation">Ventilation</a>
                <a ui-sref="clients-index">Clients</a>
                <a ui-sref="partenaires">Partenaires</a>
                <a ui-sref="contact">Contact</a>
            </div>
        </div>
    </div>
</footer>