<header class="top-header bg bg--blue hidden-xs hidden-print">
    <div class="container">
        <i class="fa fa-envelope"></i> <a href="mailto:info@climatec-sa.com">&nbsp;info@climatec-sa.com</a>&nbsp;&nbsp;&nbsp;
        <i class="fa fa-phone"></i> <a href="tel:+41216343791">&nbsp;+41 (0)21 634 37 91</a>
    </div>
</header>

<header class="bg navbar navbar-inverse hidden-print" ng-controller="elementsHeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <button ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">
                <img class="hidden-xs" src="img/static/logo.jpg">
                <img class="visible-xs" src="img/static/logo--124_30.jpg">
            </a>
        </div>
        <div collapse="navCollapsed" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                
                <li ui-sref-active="active" ng-click="navClick();"><a ui-sref="home">Les tables</a></li>
                
                <li ui-sref-active="active" ng-click="navClick();"><a ui-sref="login">Login</a></li>
                
                <li ui-sref-active="active" ng-click="navClick();"><a ui-sref="logout">Logout</a></li>
                
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</header>

<div class="visible-print"><img class="hidden-xs" src="img/static/logo.jpg"></div>