<div class="container">
    <h3 class="text-center">NOS DERNIERS TRAVAUX</h3>
    <div class="spacer--alpha"></div>
    <div class="row">
        <div class="col-md-3 col-xs-6" ng-repeat="work in data.works">
            <a ui-sref="works-view({workId:work.Work.id, workTitle:work.Work.name })">
                <div class="thumbnail">
                    <img ng-src="{{(work.Attachment[0].type == 'image')? work.Attachment[0].path : (work.Attachment[1].type == 'image')? work.Attachment[1].path: ''}}" alt="{{work.Work.name}}">
                    <div class="capiton">
                        <h4 class="text-center">{{work.Work.name}}</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>