<section class="container">
    
    <h3 class="text-center hidden-print">CLIENTS</h3>
    
    <div class="bg bg--gray customer-tag-area hidden-print">
        <a  ng-repeat="customerType in data.customerTypes" ng-click=" customerListClick( customerType.CustomerType.name ); " >
            <span class="tag" >{{customerType.CustomerType.name}}</span>
        </a>
    </div>
    
    <div class="spacer--alpha hidden-print"></div>
    
    <button class="btn btn-primary hidden-print" onClick="window.print();">Imprimer la liste des clients</button>
    
    <div class="spacer--alpha hidden-print"></div>
    
    
    <div class="row">
        <div class="col-xs-6" ng-repeat-start="customerType in data.customerTypes" >
            <div class="customer-list" id="{{ customerType.CustomerType.name | slug }}">
                <h4>{{customerType.CustomerType.name}}</h4>
                <ul>
                    <li  ng-repeat="customer in customerType.Customer">{{customer.name}}</li>
                </ul>
            </div>
        </div>
        <div ng-repeat-end ng-class="$index%2 == 1 ? 'clearfix' : '' "></div>
    </div>
</section>
