<!-- check models 
<section class="container debug">
    myFilter.customers: <input class="form-control" ng-model="myFilter.customers"><br/>
    myFilter.activities: <input class="form-control" ng-model="myFilter.activities"><br/>
    myFilter.activityTypes: <input class="form-control" ng-model="myFilter.activityTypes"><br/>
</section>
-->

<section class="container works-selection">
    <div class="row">
        

                <!-- Activity Types -->
                <nav class="col-sm-4">
                    <ul>
                        <li ng-class="{active: activityType.listId == myFilter.activityTypes}" ng-click="myFilter.activityTypes = activityType.listId;
                    myFilter.activities = 'id-0-id';
                    myFilter.customers = 'id-0-id';" ng-repeat="activityType in data.activityTypes">{{activityType.ActivityType.name}}</li>
                    </ul>
                </nav>

                <!-- Activity -->
                <nav class="col-sm-4">
                    <ul>
                        <li ng-class="{active: activity.listId == myFilter.activities}" ng-click="myFilter.activities = activity.listId;
                    myFilter.customers = 'id-0-id';" ng-repeat="activity in data.activities| filter:{ activityTypes: myFilter.activityTypes}">{{activity.Activity.name}}</li>
                    </ul>
                </nav>

                <!-- Customers -->
                <nav class="col-sm-4">
                    <ul>
                        <li ng-class="{active: customer.listId == myFilter.customers}" ng-click="myFilter.customers = customer.listId;" ng-repeat="customer in data.customers| filter:{ activities: myFilter.activities} | filter:{ activityTypes: myFilter.activityTypes}">{{customer.Customer.name}}</li>
                    </ul>
                </nav>


    </div>
</section>

<!-- Wprks -->
<section class="container no-top-padding">
    <div class="row">
        <div class="col-sm-6" ng-repeat="work in data.works| filter:myFilter"><!-- activityTypes:activityTypeSelected, activityies:activitySelected -->
            <div class="work">
                <div class="work-image">
                    <a ui-sref="works-view({workId:work.Work.id, workTitle:(work.Work.name | slug) })">
                        <img class="img-responsive" img-resize="{{(work.Attachment[0].type == 'image')? work.Attachment[0].path : (work.Attachment[1].type == 'image')? work.Attachment[1].path: ''}}" img-width="678" img-ratio="16:9" alt="{{work.Work.name}}">
                    </a>
                </div>
                <div class="work-quick-info bg bg--gray">
                    <h4>{{work.Work.name}}</h4>
                    <div class="work-header" ng-bind-html="work.Work.header | nl2br"></div>
                </div>
            </div>
        </div>
    </div>
</section>